In [1]:
import pyspark
import pyspark.sql.functions as F

In [2]:
sc = pyspark.SparkContext.getOrCreate()
sql = pyspark.sql.SQLContext(sc)

In [3]:
df = (sql.read
      .option('header', 'true')
      .option('inferSchema', 'true')
      .option('delimiter', ',')
      .csv('data.csv'))

In [4]:
df.show()

+-----------+-------------+------+-------+
|customer_id|province_code|salary|n_child|
+-----------+-------------+------+-------+
|   CC_00001|          CMA| 52452|      0|
|   CC_00002|          BKK| 33289|      4|
|   CC_00003|          BKK| 62430|      3|
|   CC_00004|          BKK| 15109|      3|
|   CC_00005|          CMA| 33915|      2|
|   CC_00006|          CMA| 24664|      3|
|   CC_00007|          CMA| 89237|      0|
|   CC_00008|          BKK| 41977|      1|
|   CC_00009|          CMA| 61290|      2|
|   CC_00010|          CMA| 62107|      2|
|   CC_00011|          CMA| 43759|      4|
|   CC_00012|          BKK| 64823|      1|
|   CC_00013|          CMA| 83857|      1|
|   CC_00014|          BKK| 51208|      2|
|   CC_00015|          BKK| 76235|      0|
|   CC_00016|          BKK| 90300|      2|
|   CC_00017|          BKK| 74989|      4|
|   CC_00018|          CMA| 91165|      1|
|   CC_00019|          CMA| 41991|      4|
|   CC_00020|          BKK| 42534|      3|
+-----------+-------------+------+-------+
only showing top 20 rows

In [5]:
df.withColumn('have_child_flag', F.expr("""IF(n_child>0, "Y", "N")""")) \
    .withColumn('salary_50000_flag', F.expr("""IF(salary>=50000, "Y", "N")""")) \
    .show()

+-----------+-------------+------+-------+---------------+-----------------+
|customer_id|province_code|salary|n_child|have_child_flag|salary_50000_flag|
+-----------+-------------+------+-------+---------------+-----------------+
|   CC_00001|          CMA| 52452|      0|              N|                Y|
|   CC_00002|          BKK| 33289|      4|              Y|                N|
|   CC_00003|          BKK| 62430|      3|              Y|                Y|
|   CC_00004|          BKK| 15109|      3|              Y|                N|
|   CC_00005|          CMA| 33915|      2|              Y|                N|
|   CC_00006|          CMA| 24664|      3|              Y|                N|
|   CC_00007|          CMA| 89237|      0|              N|                Y|
|   CC_00008|          BKK| 41977|      1|              Y|                N|
|   CC_00009|          CMA| 61290|      2|              Y|                Y|
|   CC_00010|          CMA| 62107|      2|              Y|                Y|
|   CC_00011|          CMA| 43759|      4|              Y|                N|
|   CC_00012|          BKK| 64823|      1|              Y|                Y|
|   CC_00013|          CMA| 83857|      1|              Y|                Y|
|   CC_00014|          BKK| 51208|      2|              Y|                Y|
|   CC_00015|          BKK| 76235|      0|              N|                Y|
|   CC_00016|          BKK| 90300|      2|              Y|                Y|
|   CC_00017|          BKK| 74989|      4|              Y|                Y|
|   CC_00018|          CMA| 91165|      1|              Y|                Y|
|   CC_00019|          CMA| 41991|      4|              Y|                N|
|   CC_00020|          BKK| 42534|      3|              Y|                N|
+-----------+-------------+------+-------+---------------+-----------------+
only showing top 20 rows

In [6]:
df.groupBy('province_code').agg(F.count('*').alias('n')).show()

+-------------+---+
|province_code|  n|
+-------------+---+
|          BKK| 60|
|          CMA| 51|
+-------------+---+

In [7]:
df.filter("province_code='CMA'").show()

+-----------+-------------+------+-------+
|customer_id|province_code|salary|n_child|
+-----------+-------------+------+-------+
|   CC_00001|          CMA| 52452|      0|
|   CC_00005|          CMA| 33915|      2|
|   CC_00006|          CMA| 24664|      3|
|   CC_00007|          CMA| 89237|      0|
|   CC_00009|          CMA| 61290|      2|
|   CC_00010|          CMA| 62107|      2|
|   CC_00011|          CMA| 43759|      4|
|   CC_00013|          CMA| 83857|      1|
|   CC_00018|          CMA| 91165|      1|
|   CC_00019|          CMA| 41991|      4|
|   CC_00022|          CMA| 88389|      1|
|   CC_00023|          CMA| 87449|      3|
|   CC_00024|          CMA| 54482|      1|
|   CC_00026|          CMA| 39436|      2|
|   CC_00027|          CMA| 90549|      3|
|   CC_00028|          CMA| 83929|      1|
|   CC_00035|          CMA| 42546|      4|
|   CC_00036|          CMA| 61801|      3|
|   CC_00042|          CMA| 73114|      3|
|   CC_00045|          CMA| 72237|      1|
+-----------+-------------+------+-------+
only showing top 20 rows

In [8]:
df.toPandas().describe()

             salary     n_child
count    111.000000  111.000000
mean   57057.873874    2.288288
std    22116.304166    1.323819
min    15109.000000    0.000000
25%    39107.000000    1.000000
50%    57244.000000    2.000000
75%    74303.000000    3.000000
max    98416.000000    4.000000